In [1]:
import pandas as pd
import os

In [2]:
Class_Size_21_22 = os.path.join("Class_Size_2122.csv")

In [3]:
Class_Size_21_22 = pd.read_csv(Class_Size_21_22)
Class_Size_21_22.head()

  Class Size Information  District Average  State Average
0           Kindergarten              18.2           18.7
1                Grade 1              15.7           18.7
2                Grade 2              15.4           18.6
3                Grade 3              14.4           18.7
4                Grade 4              13.7           18.8

In [4]:
Class_Size_21_22.isnull()

    Class Size Information  District Average  State Average
0                    False             False          False
1                    False             False          False
2                    False             False          False
3                    False             False          False
4                    False             False          False
5                    False             False          False
6                    False             False          False
7                    False             False          False
8                    False             False          False
9                    False             False          False
10                   False             False          False
11                   False             False          False

In [5]:
Class_Size_21_22.isnull().sum()

Class Size Information    0
District Average          0
State Average             0
dtype: int64

In [6]:
Class_Size_21_22.dropna

<bound method DataFrame.dropna of    Class Size Information  District Average  State Average
0            Kindergarten              18.2           18.7
1                 Grade 1              15.7           18.7
2                 Grade 2              15.4           18.6
3                 Grade 3              14.4           18.7
4                 Grade 4              13.7           18.8
5                 Grade 5              14.0           20.2
6                 Grade 6              19.1           19.2
7   English/Language Arts              17.6           16.3
8       Foreign Languages              22.7           18.4
9             Mathematics              21.2           17.5
10                Science              21.5           18.5
11         Social Studies              22.8           19.1>

In [7]:
Class_Size_21_22.dtypes

Class Size Information     object
District Average          float64
State Average             float64
dtype: object

In [8]:
Demographics_2122 = os.path.join("Demographics_2122.csv")

In [9]:
Demographics_2122= pd.read_csv(Demographics_2122)

In [10]:
Demographics_2122.head()

,Demographics,District Student Count,District Percentage of Total Students,State Student Count,State Percentage of Total Students
0,Economically Disadvantaged,"154,078",79.20%,"3,289,420",60.60%
1,Non-Educationally Disadvantaged,"40,529",20.80%,"2,137,950",39.40%
2,Section 504 Students,"7,385",3.80%,"401,648",7.40%
3,EB Students/EL,"68,205",35.00%,"1,175,333",21.70%
4,Students w/ Dyslexia,"5,563",2.90%,"270,966",5.00%

In [11]:
Demographics_2122.dtypes

Demographics                             object
District Student Count                   object
District Percentage of Total Students    object
State Student Count                      object
State Percentage of Total Students       object
dtype: object

In [12]:
Disabilities_2122 = os.path.join("Disabilities_2122.csv")

In [13]:
Disabilities_2122 = pd.read_csv(Disabilities_2122)
Disabilities_2122.head()

,Student Disabilities,District Student Count,District Percentage of Total Students,State Student Count,State Percentage of Total Students
0,Students with Intellectual Disabilities,"7,424",45.60%,"268,673",43.00%
1,Students with Physical Disabilities,"2,703",16.60%,"129,679",20.80%
2,Students with Autism,"3,020",18.50%,"91,742",14.70%
3,Students with Behavioral Disabilities,"2,976",18.30%,"125,096",20.00%
4,Students with Non-Categorical Early Childhood,164,1.00%,"9,066",1.50%

In [14]:
Disabilities_2122.dtypes

Student Disabilities                     object
District Student Count                   object
District Percentage of Total Students    object
State Student Count                      object
State Percentage of Total Students       object
dtype: object

In [15]:
Enrollment_2122 = os.path.join("Enrollment_2122.csv")

In [16]:
Enrollment_2122= pd.read_csv(Enrollment_2122)
Enrollment_2122.head()

,Students by Grade,District Student Count,District Percentage of Total Students,State Student Count,State Percentage of Total Students
0,Early Childhood Education,359,0.20%,"21,375",0.40%
1,Pre-Kindergarten,"11,746",6.00%,"223,733",4.10%
2,Kindergarten,"14,177",7.30%,"371,502",6.80%
3,Grade 1,"15,075",7.70%,"386,232",7.10%
4,Grade 2,"14,307",7.40%,"383,838",7.10%

In [17]:
Enrollment_2122.dtypes

Students by Grade                        object
District Student Count                   object
District Percentage of Total Students    object
State Student Count                      object
State Percentage of Total Students       object
dtype: object

In [18]:
Ethnicity_2122 = os.path.join("Ethnicity_2122.csv")

In [19]:
Ethnicity_2122 = pd.read_csv(Ethnicity_2122)
Ethnicity_2122.head()

,Ethnic Distribution,District Student Count,District Percentage of Total Students,State Student Count,State Percentage of Total Students
0,African American,"43,116",22.20%,"694,302",12.80%
1,Hispanic,"120,330",61.80%,"2,860,754",52.70%
2,White,"18,840",9.70%,"1,427,241",26.30%
3,American Indian,367,0.20%,"18,028",0.30%
4,Asian,"8,693",4.50%,"261,788",4.80%

In [20]:
Ethnicity_2122.dtypes

Ethnic Distribution                      object
District Student Count                   object
District Percentage of Total Students    object
State Student Count                      object
State Percentage of Total Students       object
dtype: object

In [24]:
SPED_Retention_2122 = os.path.join("SPED_Retention_2122.csv")

In [25]:
SPED_Retention_2122 = pd.read_csv(SPED_Retention_2122)
SPED_Retention_2122.head()

,Student Information,District Non SPED Student Count,District Non SPED Percentage of Total Students,State SPED Student Count,State SPED Percentage of Total Students
0,Kindergarten,1.10%,1.90%,4.10%,5.20%
1,Grade 1,6.90%,2.90%,7.10%,4.20%
2,Grade 2,4.90%,1.70%,5.10%,2.20%
3,Grade 3,2.60%,1.00%,2.70%,1.00%
4,Grade 4,2.00%,0.70%,1.30%,0.70%

In [26]:
SPED_Retention_2122.dtypes

Student Information                               object
District Non SPED Student Count                   object
District Non SPED Percentage of Total Students    object
State SPED Student Count                          object
State SPED Percentage of Total Students           object
dtype: object