In [1]:
import pandas as pd
import os

In [2]:
Class_Size_1819 = os.path.join("Class_Size_1819.csv")

In [3]:
Class_Size_1819= pd.read_csv(Class_Size_1819)
Class_Size_1819.head()

,Class Size Information,District Average,State Average,Unnamed: 3,Unnamed: 4
0,Kindergarten,19.2,18.9,NaN,NaN
1,Grade 1,18.9,18.8,NaN,NaN
2,Grade 2,18.3,18.7,NaN,NaN
3,Grade 3,18.3,18.9,NaN,NaN
4,Grade 4,18.4,19.2,NaN,NaN

In [4]:
Class_Size_1819.dtypes

Class Size Information     object
District Average          float64
State Average             float64
Unnamed: 3                float64
Unnamed: 4                float64
dtype: object

In [5]:
Demographics_1819 = os.path.join("Demographics_1819.csv")

In [6]:
Demographics_1819=pd.read_csv(Demographics_1819)
Demographics_1819.head()

,Demographics,District Student Count,District Percentage of Total Students,State Student Count,State Percentage of Total Students
0,Economically Disadvantaged,"167,106",79.90%,"3,283,812",60.60%
1,Non-Educationally Disadvantaged,"41,934",20.10%,"2,132,588",39.40%
2,Section 504 Students,"5,993",2.90%,"354,440",6.50%
3,English Learners (EL),"66,394",31.80%,"1,054,596",19.50%
4,Students w/ Disciplinary Placements (2017-18),"1,622",0.70%,"75,963",1.40%

In [7]:
Demographics_1819.dtypes

Demographics                             object
District Student Count                   object
District Percentage of Total Students    object
State Student Count                      object
State Percentage of Total Students       object
dtype: object

In [8]:
Disabilities_1819 = os.path.join("Disabilities_1819.csv")

In [10]:
Disabilities_1819 = pd.read_csv(Disabilities_1819)
Disabilities_1819.head()

,Student Disabilities,District Student Count,District Percentage of Total Students,State Student Count,State Percentage of Total Students
0,Students with Intellectual Disabilities,"7,608",49.20%,"221,426",42.40%
1,Students with Physical Disabilities,"2,274",14.70%,"114,118",21.90%
2,Students with Autism,"2,377",15.40%,"71,373",13.70%
3,Students with Behavioral Disabilities,"2,962",19.10%,"107,604",20.60%
4,Students with Non-Categorical Early Childhood,248,1.60%,"7,387",1.40%

In [11]:
Disabilities_1819.dtypes

Student Disabilities                     object
District Student Count                   object
District Percentage of Total Students    object
State Student Count                      object
State Percentage of Total Students       object
dtype: object

In [12]:
Enrollment_1819 = os.path.join("Enrollment_1819.csv")

In [13]:
Enrollment_1819 = pd.read_csv(Enrollment_1819)
Enrollment_1819.head()

,Students by Grade,District Student Count,District Percentage of Total Students,State Student Count,State Percentage of Total Students
0,Early Childhood Education,257,0.10%,"15,122",0.30%
1,Pre-Kindergarten,"14,810",7.10%,"238,810",4.40%
2,Kindergarten,"15,597",7.50%,"373,435",6.90%
3,Grade 1,"16,534",7.90%,"386,567",7.10%
4,Grade 2,"16,503",7.90%,"387,490",7.20%

In [14]:
Enrollment_1819.dtypes

Students by Grade                        object
District Student Count                   object
District Percentage of Total Students    object
State Student Count                      object
State Percentage of Total Students       object
dtype: object

In [15]:
Ethnicity_1819 = os.path.join("Ethnicity_1819.csv")

In [16]:
Ethnicity_1819 = pd.read_csv(Ethnicity_1819)
Ethnicity_1819.head()

,Ethnic Distribution,District Student Count,District Percentage of Total Students,State Student Count,State Percentage of Total Students
0,African American,"48,808",23.30%,"684,349",12.60%
1,Hispanic,"129,572",62.00%,"2,847,629",52.60%
2,White,"18,799",9.00%,"1,484,069",27.40%
3,American Indian,463,0.20%,"20,362",0.40%
4,Asian,"8,738",4.20%,"242,247",4.50%

In [17]:
Ethnicity_1819.dtypes

Ethnic Distribution                      object
District Student Count                   object
District Percentage of Total Students    object
State Student Count                      object
State Percentage of Total Students       object
dtype: object

In [18]:
SPED_Retention_1819 = os.path.join("SPED_Retention_1819.csv")

In [19]:
SPED_Retention_1819 = pd.read_csv(SPED_Retention_1819)
SPED_Retention_1819.head()

,Student Information,District Non SPED Student Count,District Non SPED Percentage of Total Students,State SPED Student Count,State SPED Percentage of Total Students
0,Kindergarten,0.70%,1.70%,4.60%,6.20%
1,Grade 1,4.70%,3.10%,7.50%,5.50%
2,Grade 2,3.10%,1.80%,4.30%,2.30%
3,Grade 3,2.20%,1.10%,1.20%,0.90%
4,Grade 4,1.30%,0.50%,1.30%,0.50%

In [20]:
SPED_Retention_1819.dtypes

Student Information                               object
District Non SPED Student Count                   object
District Non SPED Percentage of Total Students    object
State SPED Student Count                          object
State SPED Percentage of Total Students           object
dtype: object